# data scrape from THE University Ranking

In [3]:
# import libraries
from httpx import get
import pandas as pd
import json

In [4]:
# get the data
url = 'https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2025_0__ba2fbd3409733a83fb62c3ee4219487c.json'
data =  get(url)
json_data = json.loads(data.text)

In [18]:
# extract the data
df = pd.DataFrame()
for i in json_data['data']:
    df = df._append({
        'rank_order': i['rank_order'],
        'rank': i['rank'],
        'name': i['name'],
        'scores_overall': i['scores_overall'],
        'scores_overall_rank': i['scores_overall_rank'],
        'scores_teaching': i['scores_teaching'],
        'scores_teaching_rank': i['scores_teaching_rank'],
        'scores_research': i['scores_research'],
        'scores_research_rank': i['scores_research_rank'],
        'scores_citations': i['scores_citations'],
        'scores_citations_rank': i['scores_citations_rank'],
        'scores_industry_income': i['scores_industry_income'],
        'scores_industry_income_rank': i['scores_industry_income_rank'],
        'scores_international_outlook': i['scores_international_outlook'],
        'scores_international_outlook_rank': i['scores_international_outlook_rank'],
        'record_type': i['record_type'],
        'member_level': i['member_level'],
        'url': i['url'],
        'nid': i['nid'],
        'location': i['location'],
        'stats_number_students': i['stats_number_students'],
        'stats_student_staff_ratio': i['stats_student_staff_ratio'],
        'stats_pc_intl_students': i['stats_pc_intl_students'],
        'stats_female_male_ratio': i['stats_female_male_ratio'],
        'aliases': i['aliases'],
        'subjects_offered': i['subjects_offered'],
        'closed': i['closed'],
        'unaccredited': i['unaccredited'],
        'disabled': i['disabled']
    }, ignore_index=True)

In [19]:
df

,rank_order,rank,name,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,...,location,stats_number_students,stats_student_staff_ratio,stats_pc_intl_students,stats_female_male_ratio,aliases,subjects_offered,closed,unaccredited,disabled
0,10,1,University of Oxford,98.5,10,96.8,5,100.0,1,98.8,...,United Kingdom,"22,095",10.8,43%,51 : 49,University of Oxford,"Computer Science,Languages, Literature & Lingu...",False,False,False
1,20,2,Massachusetts Institute of Technology,98.1,20,99.2,1,96.0,11,99.7,...,United States,"11,836",8.0,33%,42 : 58,Massachusetts Institute of Technology,"Biological Sciences,Electrical & Electronic En...",False,False,False
2,30,3,Harvard University,97.7,30,97.3,4,99.9,2,99.3,...,United States,"22,584",10.0,25%,52 : 48,Harvard University,"Archaeology,Mathematics & Statistics,Art, Perf...",False,False,False
3,40,4,Princeton University,97.5,40,98.3,2,98.0,6,98.9,...,United States,"8,378",7.8,23%,47 : 53,Princeton University,"Chemistry,Languages, Literature & Linguistics,...",False,False,False
4,50,5,University of Cambridge,97.4,50,95.9,6,99.9,3,97.6,...,United Kingdom,"20,980",11.5,38%,49 : 51,University of Cambridge,"History, Philosophy & Theology,Biological Scie...",False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2852,1000761,Reporter,Zhetysu University,n/a,1000761,n/a,0,n/a,0,n/a,...,Kazakhstan,"4,872",18.2,0%,66 : 34,Zhetysu University,"Communication & Media Studies,Sociology,Art, P...",False,False,False
2853,1000762,Reporter,Zhytomyr Ivan Franko State University,n/a,1000762,n/a,0,n/a,0,n/a,...,Ukraine,"4,887",13.3,0%,68 : 32,Zhytomyr Ivan Franko State University,"Mathematics & Statistics,Education,Communicati...",False,False,False
2854,1000763,Reporter,Zhytomyr Polytechnic State University,n/a,1000763,n/a,0,n/a,0,n/a,...,Ukraine,"6,364",22.5,0%,35 : 65,Zhytomyr Polytechnic State University,"Accounting & Finance,Civil Engineering,Geology...",False,False,False
2855,1000764,Reporter,Ziane Achour University of Djelfa,n/a,1000764,n/a,0,n/a,0,n/a,...,Algeria,"24,450",22.4,0%,None,Ziane Achour University of Djelfa,"General Engineering,Law,Geology, Environmental...",False,False,False
2856,1000765,Reporter,Ziauddin University,n/a,1000765,n/a,0,n/a,0,n/a,...,Pakistan,"6,554",10.3,0%,60 : 40,Ziauddin University,"Languages, Literature & Linguistics,Architectu...",False,False,False

In [20]:
# save the data

df.to_excel('THE.xlsx', index=False)